
<div class="col-md-6 clearfix statusbox" data-team="{{info/team}}">
    {{#status}}
    <section class="">
        <div class="media">
          <div class="media-left">
            <a href="#" class="userImg">
              <img class="media-object profile-img" src="{{../profileImageURL}}" alt="...">
            </a>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        <strong>{{../info/name}}&nbsp;{{../info/lastname}}</strong>
                    </a>
                    <small class="postedon pull-right">posted&nbsp;<time class="timeago" title="{{postedTime}}"></time></small>
                </div>

                <div class="panel-body">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Today</h3>
                      </div>
                      <div class="panel-body">
                        {{today}}
                      </div>
                    </div>

                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Yesterday</h3>
                      </div>
                      <div class="panel-body">
                        {{yesterday}}
                      </div>
                    </div>
                    
                    {{#if blocker.length}}
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <h3 class="panel-title">Blockers</h3>
                      </div>
                      <div class="panel-body">
                        {{blocker}}
                      </div>
                    </div>
                    {{/if}}
                    <!-- <a href="" class="btn btn-reply btn-sm"><i class="fa fa-reply"></i>  Reply</a> -->
                </div>
            </div>
          </div>
        </div>
    </section>
    {{/status}}
</div>